{% extends "base.html" %}

{% block head_title %}
My Recipe Collection
{% endblock %}

{% block Search %}
    {{  url_for('myRecipeCollection') }}
{% endblock %}
{% block Page_Title %}
My Recipe Collection
{% endblock %}

{% block Recipe_Title %}
{{ r1['name'] }}
{% endblock %}

{% block Main_Recipe_Image %}
    <br><a href="{{ url_for('viewRecipe', recipeName=r1['name']) }}">
    <img src="{{ url_for('static', filename='img/' + r1['pic']) }}" alt='{{ r1['description'] }}' class='mainImage img-fluid' ></a><br>
{%  endblock %}

{% block Recipe_Description %}
    {{ r1['description'] }}
{% endblock %}

{% block Heading1_title %}
    {{ r2['name'] }}
{% endblock %}

{% block Small_Recipe_Image_1 %}
    <br><img src="{{ url_for('static', filename='img/' + r2['pic']) }}" alt='{{ r2['description'] }}' class='smallImage' title='click to view'><br>
{% endblock %}

{% block Heading1_contents %}
{{  r2['description'] }}
{% endblock %}

{% block recipe_footer_link_1 %}
    {{ url_for('viewRecipe', recipeName=r2['name']) }}
{% endblock %}

{% block Heading2_title %}
    {{ r3['name'] }}
{% endblock %}

{% block Small_Recipe_Image_2 %}
    <br><img src="{{ url_for('static', filename='img/' + r3['pic']) }}" alt='{{ r3['description'] }}' class='smallImage' title='click to view'><br>
{% endblock %}

{% block Heading2_contents %}
    {{  r3['description'] }}
{% endblock %}

{% block recipe_footer_link_2 %}
    {{ url_for('viewRecipe', recipeName=r3['name']) }}
{% endblock %}

{% block Heading3_title %}
    {{ r4['name'] }}
{% endblock %}

{% block Small_Recipe_Image_3 %}
    <br><img src="{{ url_for('static', filename='img/' + r4['pic']) }}" alt='{{ r4['description'] }}' class='smallImage' title='click to view'><br>
{% endblock %}

{% block Heading3_contents %}
    {{  r4['description'] }}
{% endblock %}

{% block recipe_footer_link_3 %}
    {{ url_for('viewRecipe', recipeName=r4['name']) }}
{% endblock %}

{% block footer_contents %}
    Chris Harnett <br>
    Student Number 20188141
{% endblock %}